body{
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.top{
    position:absolute;
    top:0;
    width:100vh;
    height: 50px;
    z-index: 10;
    background:linear-gradient(240deg,rgb(214, 214, 214),rgb(231, 230, 230),rgb(214,214,214));
    background-size:100%;
    animation:top 1.5s infinite;
    
}
@keyframes top{
        from{background-position: 100%;}
        to{background-position: 450%;}
}
.logo{border-radius:50%;
      margin: auto;
      width:50px;
      height:50px;
}
.menu{width: 40px;
      height: 40px;
      position: fixed;
      left:0;
      top:5px;
      z-index: 3;
      border-radius: 5px;
      background-color: #fff;}
.menu i{
        padding: 7px;
}
.menu:hover{
            border-style:solid;
            border-color:dodgerblue;
            border-width:2px ;
}
.left{
    position: absolute;
    height: 100vh;
    width: 260px;
    left:0;
    z-index: 0;
    display: none;
    box-shadow: gray 5px 20px 20px;
}
.body:hover .left{
    display: block;
}
